:root {
    /*Colores*/
    --blanco: #ffffff;
    --negro: #201c24;
    --azul-marino: #213341;
    --azul-aqua: #049CB3;
    --rosa-claro: #F5E7E4;
    --rosa-fuerte: #D2BEBF;
    --violeta: #AFA7B2;
    --gris: #797979;
    --amarillo: #f1b10fb9;
    --azul-fuerte: #00235B;
    --rojo: #E21818;
    --amarillo-pollo: #FFDD83;
    --aqua: #98DFD6;
    --gris-paleta: #F8F4F4;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Questrial", sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    color: var(--negro);
    scroll-behavior: smooth;
}


/* SOCIAL MEDIA */

.social {
    position: fixed;
    top: 75px;
    padding: 2rem;
    z-index: 1;
    /*Animation*/
    animation: slow-in 2s;
}

.social ul {
    list-style: none;
}

.social img {
    height: 16px;
    width: 16px;
}

.social ul li a {
    display: inline-block;
    color: var(--blanco);
    padding: 5px 0px;
    text-decoration: none;
    transition: transform 500ms ease;
}

.social ul li a:hover {
    transform: scale(1.5);
}

.animation-slow-in {
    animation: slow-in 2s;
}


/* NAVBAR */

.navbar-container {
    position: fixed;
    top: 0;
    background-color: var(--blanco);
    filter: drop-shadow(0px 4px 5px rgba(68, 58, 58, 0.212));
    width: 100%;
    z-index: 2;
}

.navbar-container ul.navbar-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 24px;
    list-style: none;
}

.navbar-container ul.navbar-logo {
    display: none;
}

.navbar-container ul.navbar-logo img {
    height: 1.8rem;
    filter: brightness(100%);
}

.navbar-text a {
    text-decoration: none;
    transition: transform 500ms ease;
    color: var(--gris);
    font-weight: lighter;
}

.navbar-text a:visited {
    text-decoration: none;
}

.navbar-text a:hover {
    color: var(--azul-aqua);
}


/* HERO */

.hero-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var(--gris-paleta);
    padding: 0% 10%;
    height: 90vh;
    width: 100%;
}

.hero-container h1 {
    font-size: 45px;
}

.hero-container #information,
.hero-container #banner {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    /*Animation*/
}

.hero-container #banner .name-profesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-container #banner .social-media {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.hero-container #banner .social-media img {
    border-style: solid;
    border-width: 1.8px;
    border-radius: 50%;
    border-color: var(--negro);
    padding: 5px;
    transition: transform 500ms ease;
}

.hero-container .social-media img:hover {
    transform: scale(1.2);
}

.hero-container #myFace {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-color: transparent;
    /*Animation*/
    animation: slow-in 3s;
}

.hero-container #myFace img {
    width: 100%;
}


/* SKILLS */

.skills-container {
    display: flex;
    padding: 6rem 10% 8rem;
    background-color: #07333B;
    color: #FFFFFF;
}

.skills-container .skill-card {
    flex: 1;
    text-align: left;
    margin: auto;
    padding: 1rem 1.5rem;
    /*Animation*/
}


/* CONTACT*/

.contact-container {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F6F3A8;
    color: #07333B;
    margin: 0rem 10%;
    padding: 4rem;
    gap: 1rem;
}

.contact-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-container input {
    background-color: transparent;
    border-style: double;
    border-width: 2px;
    border-radius: 0.5rem;
    border-color: #07333B;
    font-size: larger;
    text-align: center;
    height: 4rem;
}

.contact-container button {
    background-color: #07333B;
    text-align: center;
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
}

.contact-container button {
    background-color: #07333B;
    text-align: center;
    height: 4rem;
    width: 4rem;
}


/* TRAINING */

.training-container {
    padding: 0rem 10%;
}

.training-container .cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #99D5A1;
    overflow: hidden;
}

.training-container .training-card {
    flex: 1;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 1rem;
    /* Animacion */
    transition: transform 250ms ease;
}

.training-container .training-card h3 {
    color: #07333B;
}

.training-container>.cards>.training-card:hover {
    transform: translateY(10%);
}


/* TOOLS PERCENTAGE*/

.percentage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 4rem 0rem;
}

.percentage-container .progress-container .text {
    font-size: 7px;
    color: #ffffff;
}

.percentage-container .progress-container .progress-bar {
    height: 10px;
    width: 0;
    overflow: hidden;
}